---
import { Image } from "astro:assets";
const { aboutText, aboutPhotoURL } = Astro.props;
const photoURL = `${import.meta.env.STRAPI_URL}${aboutPhotoURL}`;
---

<p>{aboutText}</p>
<Image src={photoURL} alt="Me" width="400" height="400" />
